docs
src
.babelrc
webpack.config.js
node_modules
!lib
# lib/Core.jsx
# lib/Locale.jsx
# lib/Quiz.jsx
# lib/core-components/Explanation.jsx
# lib/core-components/InstantFeedback.jsx
# lib/core-components/QuizResultFilter.jsx
# lib/styles.css